.inventory-title {
  padding-right: 20%;
}
.card {
  padding-top: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: scale-down;
}

.card-img-bottom {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.card-body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-header {
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  text-align: center;
  align-items: center;
  align-content: center;
}

#hash {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
}

.col:nth-of-type(1) > .card-color {
  background: linear-gradient(to left, #f3b592, white) !important;
}
.col:nth-of-type(4) > .card-color {
  background: linear-gradient(to right, #e5e5e5, white) !important;
}
.col:nth-of-type(5) > .card-color {
  background: linear-gradient(to left, #fdd65d, white) !important;
}
.col:nth-of-type(8) > .card-color {
  background: linear-gradient(to right, #0db4be, white) !important;
}

@media (min-width: 400px) {
  .row {
    max-width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    align-content: center;
  }
}

@media (min-width: 576px) {
  .row {
    max-width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    align-content: center;
  }
}
