h1 {
    font-family: Saira;
    padding-right: 20%;
}
.card {
    padding-top: 5%;
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: scale-down;
}

.card-img-bottom {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-header {
    font-family: Arial, Helvetica, sans-serif;
}

.col {
    text-align: center;
    align-items: center;
    align-content: center;
}

#hash {
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
}
@media (min-width: 400px) {
    .row {
        max-width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        align-items: center;
        align-content: center;
    } 
}

@media (min-width: 576px) {
    .row {
        max-width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        align-items: center;
        align-content: center;
    }
}