.pagination a {
  background: linear-gradient(to right, #0db4be, white) !important;
  border: 1px solid #0db4be;
}

.pagination a:hover {
  background: linear-gradient(to right, white, #0db4be) !important;
  border: 1px solid #0db4be;
}

.pagination span {
  background-color: black;
}
