.page-link {
    background-color: linear-gradient(to right, #fdd65d, white) !important;
}

a {
    background-color: linear-gradient(to right, #fdd65d, white) !important;

}

li {
    background-color: linear-gradient(to right, #fdd65d, white) !important;
}